:root{
  --btnWidth: 50px;
  --buttonWidth-xl: calc(var(--btnWidth) * 1.4);
  --buttonWidth-xxl: calc(var(--btnWidth) * 1.5);
  }

body {
  font-family: 'Roboto', sans-serif;
}

.mainSection {
  width: 880px;
  height: 600px;
  margin: auto;
}

textarea {
  width: 874px;
  height: 150px;
  border-radius: 5px;
  color: rgb(36, 36, 36);
  resize: none;
}

.keyboardSection {
  display: flex;
  flex-flow: row wrap;
  width: 860px;
  height: 300px;
  border-radius: 5px;
  padding: 10px;
  background-color: #004134;

}

.legend {
  text-align: center;
}

.keyboard__line {
  display: flex;
  flex-direction: row;
  width: 860px;
  height: 60px;
}

.keyboard__key {
  width: var(--btnWidth);
  height: var(--btnWidth);
  background-color: #33675D;
  color: white;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 4px #00271f;
  transition-property: background-color, margin;
  transition-duration: .05s, .05s;
}

.keyboard__key:hover {
  background-color: #012e25;
}

.keyboard__key--active {
  background-color: #012e25;
  box-shadow: 0px 0px #00271f;
  margin: 8px 6px 4px 2px; 
}

.space {
  width: 282px;
}


.shiftleft {
  width: var(--buttonWidth-xxl);
}

.shiftright {
  width: var(--buttonWidth-xl);
}

.enter {
  width: 108px;
}



.controlleft {
  width: var(--buttonWidth-xxl);
}

.controlright {
  width: var(--buttonWidth-xl);
}

.backspace,
.capslock {
  width: 95px;
}

.tab {
  width: var(--btnWidth);
}

.delete {
  width: 37px;
}

.keyf::after,
.keyj::after {
  content: '';
  width: 15px;
  height: 2px;
  position: absolute;
  background-color: #025a48;
  bottom: 7px;
  box-shadow: -1px 1px #013a2e;
}